svg.fa-smile-beam.main-icon,
svg.fa-frown.main-icon {
    /* height: 200px; */
    width: 4em !important;
    height: 4em !important;
}
svg.fa-bullseye,
svg.fa-skull{
    width: 6em !important;
    height: 6em !important;
}